#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

override_dh_virtualenv:
	dh_virtualenv --extra-pip-arg='--no-binary' --extra-pip-arg=':all:'

%:
	dh $@ --with python-virtualenv

override_dh_auto_configure:
	# do nothing

override_dh_auto_build:
	# do nothing

override_dh_usrlocal:
	# do nothing
